<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello FSW1 TERCINTA</h1>

    <% if(message != ""){ %>
        <div class="alert">Data berhasil <%=message  %></div>
        <% } %>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>age</th>
          <th>city</th>
          <th>email</th>
          <th>createdAt</th>
        </tr>
      </thead>
      <tbody>
        <% customers.forEach(function(customer) { %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= customer.name %></td>
          <td><%= customer.age %></td>
          <td><%= customer.city %></td>
          <td><%= customer.email %></td>
          <td><%= customer.createdAt %></td>
          <td>
            <a href="/customers/edit/<%= customer.id %>"><button>edit</button></a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <a href="/customers/create"><button>go to create form</button></a>
  </body>
</html>
